# import libraries

In [25]:
import pandas as pd

In [26]:
df=pd.read_excel(r"C:\Users\User\Downloads\Crop_recommendation.xlsx",na_values=['?',' ?','? ','@','#','$','%'])

In [27]:
df

          N     P     K  temperature   humidity        ph    rainfall   label
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536    rice
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537    rice
2      60.0  55.0   0.0    23.004459  82.320763  7.840207  263.964248    rice
3      74.0  35.0  40.0    26.491096  80.158363  6.980401    0.000000    rice
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340    rice
...     ...   ...   ...          ...        ...       ...         ...     ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507  coffee
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610  coffee
2197  118.0  33.0  30.0    24.131797  67.225123  6.362608  173.322839  coffee
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293  coffee
2199  104.0   NaN  30.0    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

# Clean Data Set

In [28]:
df.isnull().sum()

N               39
P               96
K              141
temperature      1
humidity         1
ph              15
rainfall         0
label            0
dtype: int64

In [29]:
df.dtypes

N              float64
P              float64
K              float64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [30]:
for i in df.columns:
    if df[i].dtype=="O" and df[i].nunique()<30:
        df[i].fillna(df[i].mode()[0],inplace=True)

In [31]:
for i in df.columns:
    if df[i].dtype=="O":
       df[i].fillna(df[i].mode()[0],inplace=True)
    else:
       df[i].fillna(df[i].median(),inplace=True)

import sklearn library for incoding the data

In [32]:
from sklearn.preprocessing import LabelEncoder

In [33]:
lb=LabelEncoder()

In [34]:
df['crop_encode']=lb.fit_transform(df['label'])

In [35]:
df

,N,P,K,temperature,humidity,ph,rainfall,label,crop_encode
0,90.0,42.0,43.0,20.879744,82.002744,6.502985,202.935536,rice,20
1,85.0,58.0,41.0,21.770462,80.319644,7.038096,226.655537,rice,20
2,60.0,55.0,0.0,23.004459,82.320763,7.840207,263.964248,rice,20
3,74.0,35.0,40.0,26.491096,80.158363,6.980401,0.000000,rice,20
4,78.0,42.0,42.0,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107.0,34.0,32.0,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99.0,15.0,27.0,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118.0,33.0,30.0,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117.0,32.0,34.0,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104.0,52.0,30.0,23.603016,60.396475,6.779833,140.937041,coffee,5

identify the correlation between columns in the data set.

In [36]:
df.drop('label',axis=1).corr()

,N,P,K,temperature,humidity,ph,rainfall,crop_encode
N,1.000000,-0.231346,-0.144424,0.026903,0.178456,0.096519,0.044758,-0.034463
P,-0.231346,1.000000,0.734592,-0.124274,-0.111139,-0.134265,-0.068187,-0.481261
K,-0.144424,0.734592,1.000000,-0.163569,0.177250,-0.166635,-0.060981,-0.347878
temperature,0.026903,-0.124274,-0.163569,1.000000,0.199903,-0.020180,-0.026888,0.113503
humidity,0.178456,-0.111139,0.177250,0.199903,1.000000,-0.003670,0.088600,0.197384
ph,0.096519,-0.134265,-0.166635,-0.020180,-0.003670,1.000000,-0.109440,-0.015582
rainfall,0.044758,-0.068187,-0.060981,-0.026888,0.088600,-0.109440,1.000000,0.042314
crop_encode,-0.034463,-0.481261,-0.347878,0.113503,0.197384,-0.015582,0.042314,1.000000

Distribution of the  data (spliting the data) into two vairiables depended  and independent.

In [37]:
X=df[['N','P','K','temperature','humidity','ph','rainfall']]

In [38]:
X

          N     P     K  temperature   humidity        ph    rainfall
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537
2      60.0  55.0   0.0    23.004459  82.320763  7.840207  263.964248
3      74.0  35.0  40.0    26.491096  80.158363  6.980401    0.000000
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340
...     ...   ...   ...          ...        ...       ...         ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610
2197  118.0  33.0  30.0    24.131797  67.225123  6.362608  173.322839
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293
2199  104.0  52.0  30.0    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [39]:
y=df['label']

In [40]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

import sklearn library for split the data set

In [41]:
from sklearn.model_selection import train_test_split

In [42]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=2529)

import sklearn library for creating logistic Regression models

In [43]:
from sklearn.linear_model import LogisticRegression

In [44]:
model=LogisticRegression()

In [45]:
model.fit(X_train,y_train)

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [46]:
model.score(X_test,y_test)

0.9181818181818182

In [47]:
import pickle

In [48]:
with open('model.pkl','wb') as model_file:
    pickle.dump(model,model_file)