In [46]:
import pandas as pd

In [47]:
df=pd.read_excel(r"C:\Users\User\Downloads\Crop_recommendation.xlsx",na_values=['?',' ?','? ','@','#','$','%'])

In [48]:
df

          N     P     K  temperature   humidity        ph    rainfall   label
0      90.0  42.0  43.0    20.879744  82.002744  6.502985  202.935536    rice
1      85.0  58.0  41.0    21.770462  80.319644  7.038096  226.655537    rice
2      60.0  55.0   0.0    23.004459  82.320763  7.840207  263.964248    rice
3      74.0  35.0  40.0    26.491096  80.158363  6.980401    0.000000    rice
4      78.0  42.0  42.0    20.130175  81.604873  7.628473  262.717340    rice
...     ...   ...   ...          ...        ...       ...         ...     ...
2195  107.0  34.0  32.0    26.774637  66.413269  6.780064  177.774507  coffee
2196   99.0  15.0  27.0    27.417112  56.636362  6.086922  127.924610  coffee
2197  118.0  33.0  30.0    24.131797  67.225123  6.362608  173.322839  coffee
2198  117.0  32.0  34.0    26.272418  52.127394  6.758793  127.175293  coffee
2199  104.0   NaN  30.0    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [49]:
df.isnull().sum()

N               39
P               96
K              141
temperature      1
humidity         1
ph              15
rainfall         0
label            0
dtype: int64

In [50]:
df.dtypes

N              float64
P              float64
K              float64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [51]:
df['N'].unique()

array([ 90.,  85.,  60.,  74.,  78.,  69.,  94.,  89.,  68.,  91.,   0.,
        93.,  77.,  88.,  76.,  83.,  98.,  66.,  97.,  84.,  73.,  92.,
        95.,  99.,  63.,  62.,  64.,  82.,  79.,  65.,  75.,  71.,  72.,
        nan,  86.,  61.,  67.,  81.,  80., 100.,  87.,  96.,  40.,  23.,
        39.,  22.,  36.,  32.,  58.,  59.,  42.,  28.,  43.,  27.,  50.,
        25.,  31.,  26.,  54.,  57.,  49.,  46.,  38.,  35.,  52.,  44.,
        24.,  29.,  20.,  56.,  37.,  51.,  41.,  34.,  30.,  33.,  47.,
        53.,  13.,   2.,  17.,  12.,   6.,  10.,  19.,  11.,  21.,  16.,
         9.,   1.,   7.,   8.,   3.,   4.,   5.,  14.,  15.,  55.,  48.,
       105., 108., 118., 101., 106., 109., 117., 114., 110., 112., 111.,
       102., 116., 119., 107., 104., 103., 120., 113., 115., 133., 136.,
       126., 121., 129., 122., 140., 131., 135., 123., 125., 139., 132.,
       127., 130., 134.])

In [52]:
df['P'].unique()

array([ 42.,  58.,  55.,  35.,  37.,  53.,  54.,  46.,  56.,  50.,  48.,
        38.,  nan,  40.,  59.,  41.,  47.,  49.,  51.,  57.,  39.,  43.,
        44.,  60.,  52.,  36.,   0.,  72.,  67.,  73.,  62.,  74.,  66.,
        63.,  71.,  78.,  80.,  68.,  65.,  77.,  76.,  79.,  61.,  64.,
        69.,  75.,  24.,  26.,  27.,  25.,  21.,  30.,  11.,   5.,  10.,
         7.,  20.,  22.,  15.,  23.,   8.,  16.,  29.,  17.,   6.,  19.,
        13.,   9.,  14.,  28.,  94.,  95.,  92.,  89.,  88.,  87.,  85.,
        86.,  83.,  91.,  81.,  84.,  90.,  82.,  93.,  33.,  31.,  34.,
        32., 130., 144., 123., 125., 131., 140., 122., 134., 145., 139.,
       141., 138., 136., 132., 133., 121., 126., 120., 142., 135., 129.,
       128., 137., 127., 124., 143.,  12.])

In [53]:
df['K'].unique()

array([ 43.,  41.,   0.,  40.,  42.,  38.,  44.,  36.,  37.,  39.,  35.,
        nan,  16.,  17.,  21.,  20.,  19.,  25.,  22.,  15.,  23.,  24.,
        84.,  85.,  77.,  81.,  75.,  79.,  76.,  83.,  78.,  80.,  82.,
        46.,  50.,  53.,  54.,  49.,  55.,  52.,  47.,  48.,  51.,  27.,
        31.,  32.,  34.,  33.,  30.,  28.,  29.,  26., 195., 204., 205.,
       196., 198., 197., 203., 201., 202., 199., 200.,  12.,  13.,   6.,
         9.,  10.,  14.,   8.,   7.,   5.,  11.])

In [54]:
for i in df.columns:
    if df[i].dtype=="O" and df[i].nunique()<30:
        df[i].fillna(df[i].mode()[0])

In [59]:
for i in df.columns:
    if df[i].dtype=="O":
      print(df[i].fillna(df[i].mode()[0]))
    else:
        print(df[i].fillna(df[i].median()))

0        90.0
1        85.0
2        60.0
3        74.0
4        78.0
        ...
2195    107.0
2196     99.0
2197    118.0
2198    117.0
2199    104.0
Name: N, Length: 2200, dtype: float64
0       42.0
1       58.0
2       55.0
3       35.0
4       42.0
        ...
2195    34.0
2196    15.0
2197    33.0
2198    32.0
2199    52.0
Name: P, Length: 2200, dtype: float64
0       43.0
1       41.0
2        0.0
3       40.0
4       42.0
        ...
2195    32.0
2196    27.0
2197    30.0
2198    34.0
2199    30.0
Name: K, Length: 2200, dtype: float64
0       20.879744
1       21.770462
2       23.004459
3       26.491096
4       20.130175
          ...
2195    26.774637
2196    27.417112
2197    24.131797
2198    26.272418
2199    23.603016
Name: temperature, Length: 2200, dtype: float64
0       82.002744
1       80.319644
2       82.320763
3       80.158363
4       81.604873
          ...
2195    66.413269
2196    56.636362
2197    67.225123
2198    52.127394
2199    60.396475
Name: humidity, Length: 2200, dtype: float64
0       6.502985
1       7.038096
2       7.840207
3       6.980401
4       7.628473
          ...
2195    6.780064
2196    6.086922
2197    6.362608
2198    6.758793
2199    6.779833
Name: ph, Length: 2200, dtype: float64
0       202.935536
1       226.655537
2       263.964248
3         0.000000
4       262.717340
           ...
2195    177.774507
2196    127.924610
2197    173.322839
2198    127.175293
2199    140.937041
Name: rainfall, Length: 2200, dtype: float64
0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [57]:
df['label'].nunique()

22

In [61]:
df["K"].fillna(49.055, inplace = True)

In [62]:
df["N"].fillna(50.366, inplace = True)

In [63]:
df["P"].fillna(53.6720, inplace = True)

In [64]:
df["temperature"].fillna(25.61, inplace = True)

In [65]:
df["humidity"].fillna(71.25, inplace = True)

In [66]:
df["ph"].fillna(6.470, inplace = True)

In [67]:
from sklearn.preprocessing import LabelEncoder

In [68]:
lb=LabelEncoder()

In [69]:
df['crop_encode']=lb.fit_transform(df['label'])

In [70]:
df

,N,P,K,temperature,humidity,ph,rainfall,label,crop_encode
0,90.0,42.000,43.0,20.879744,82.002744,6.502985,202.935536,rice,20
1,85.0,58.000,41.0,21.770462,80.319644,7.038096,226.655537,rice,20
2,60.0,55.000,0.0,23.004459,82.320763,7.840207,263.964248,rice,20
3,74.0,35.000,40.0,26.491096,80.158363,6.980401,0.000000,rice,20
4,78.0,42.000,42.0,20.130175,81.604873,7.628473,262.717340,rice,20
...,...,...,...,...,...,...,...,...,...
2195,107.0,34.000,32.0,26.774637,66.413269,6.780064,177.774507,coffee,5
2196,99.0,15.000,27.0,27.417112,56.636362,6.086922,127.924610,coffee,5
2197,118.0,33.000,30.0,24.131797,67.225123,6.362608,173.322839,coffee,5
2198,117.0,32.000,34.0,26.272418,52.127394,6.758793,127.175293,coffee,5
2199,104.0,53.672,30.0,23.603016,60.396475,6.779833,140.937041,coffee,5

In [71]:
df.drop('label',axis=1).corr()

,N,P,K,temperature,humidity,ph,rainfall,crop_encode
N,1.000000,-0.233404,-0.140008,0.027742,0.179990,0.095442,0.046839,-0.032357
P,-0.233404,1.000000,0.732491,-0.124163,-0.111245,-0.134366,-0.068702,-0.480822
K,-0.140008,0.732491,1.000000,-0.161413,0.179033,-0.167273,-0.062301,-0.343501
temperature,0.027742,-0.124163,-0.161413,1.000000,0.200218,-0.020292,-0.026887,0.113503
humidity,0.179990,-0.111245,0.179033,0.200218,1.000000,-0.003351,0.088653,0.197435
ph,0.095442,-0.134366,-0.167273,-0.020292,-0.003351,1.000000,-0.109621,-0.015493
rainfall,0.046839,-0.068702,-0.062301,-0.026887,0.088653,-0.109621,1.000000,0.042314
crop_encode,-0.032357,-0.480822,-0.343501,0.113503,0.197435,-0.015493,0.042314,1.000000

In [74]:
X=df[['N','P','K','temperature','humidity','ph','rainfall']]

In [76]:
X

          N       P     K  temperature   humidity        ph    rainfall
0      90.0  42.000  43.0    20.879744  82.002744  6.502985  202.935536
1      85.0  58.000  41.0    21.770462  80.319644  7.038096  226.655537
2      60.0  55.000   0.0    23.004459  82.320763  7.840207  263.964248
3      74.0  35.000  40.0    26.491096  80.158363  6.980401    0.000000
4      78.0  42.000  42.0    20.130175  81.604873  7.628473  262.717340
...     ...     ...   ...          ...        ...       ...         ...
2195  107.0  34.000  32.0    26.774637  66.413269  6.780064  177.774507
2196   99.0  15.000  27.0    27.417112  56.636362  6.086922  127.924610
2197  118.0  33.000  30.0    24.131797  67.225123  6.362608  173.322839
2198  117.0  32.000  34.0    26.272418  52.127394  6.758793  127.175293
2199  104.0  53.672  30.0    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [75]:
y=df['crop_encode']

In [77]:
y

0       20
1       20
2       20
3       20
4       20
        ..
2195     5
2196     5
2197     5
2198     5
2199     5
Name: crop_encode, Length: 2200, dtype: int32

In [72]:
from sklearn.model_selection import train_test_split

In [81]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=2529)

In [82]:
from sklearn.linear_model import LogisticRegression

In [83]:
model=LogisticRegression()

In [84]:
model.fit(X_train,y_train)

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [86]:
model.score(X_test,y_test)

0.9218181818181819

In [87]:
import pickle

In [88]:
with open('model.pkl','wb') as model_file:
    pickle.dump(model,model_file)